
.main-header{
    background-color: #01579b;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    margin: 0;
    justify-items: center;
    grid-template-columns: 85% 15%;
    padding: 3vh 0;
    display: grid;   
}








