.Search-Page{
    text-align: center;
}

.Search-Header{
    background-color: #01579b;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    margin: 0;
    padding: 3vh 0;
}

.Search-Main{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 70vh;
    margin: 0 20vw 0;
}